body > div > div
{
    width: 100px;
    height: 100px;
    background-color:blue;
}

body > div > div:nth-child(odd)
{
    float: left;
    margin-left: 100px;
}

body > div > div:nth-child(1)
{
    background-color:blue;
    transform-origin: top right;
}
body > div >  div:nth-child(2)
{
    background-color:yellow;
    transform-origin: top left;
}

body > div > div:nth-child(3)
{
    background-color:greenyellow;
    transform-origin: bottom right;
}

body > div > div:nth-child(4)
{
    background-color:red;
    transform-origin: bottom left;
}


body > div
{
    margin-left: 500px;
    margin-top:500px;
.
}

 body > div > div{   
    transition: transform 1s; 
}
  
body > div:hover > div:nth-child(1){
    transform: rotate(-90deg);
} 

body > div:hover > div:nth-child(2){
    transform: rotate(90deg);
} 

body > div:hover > div:nth-child(3){
    transform: rotate(90deg);
} 

body > div:hover > div:nth-child(4){
    transform: rotate(-90deg);
}  

